.products-page-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
  row-gap: 20px;
  margin-bottom: 50px;
}

.filter {
  border-radius: 5px;
  color: white;
}
.sort-products {
  grid-column: -1/1;
  margin-top: 10px;
}

.filter h2 {
  background: var(--cta-green);
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;  
  margin: 0px auto;
  font-size: 1.5rem;
  font-weight: 600;
}

.filter h3 {
  margin: 5px 0;
  font-size: 1.5rem;
}

.filter label {
  text-align: center;
}

#filter-drop-down {
  display: none;
}

.filter-menu {
  position: relative;
  margin: 0 0 10px 0;
}

div.filter ul {
  margin: 0;

}

.filter-menu ul li{
  padding: 5px;
  font-size: 1.2rem;
}

ul.filter-menu li,
ul.filter-menu ul {
  display: none;
}

#filter-drop-down:checked ~ ul.filter-menu li,
#filter-drop-down:checked ~ ul.filter-menu ul {
  display: block;
  background-color: var(--light-blue);
  
}

li input {
  float: right;
}

#filter-drop-down:checked .filter{
  background: var(--dark-blue);
}

ul {
  list-style-type: none;
  margin: 0 10px;
  padding-left: 0;
}

div.filter {
  text-transform: capitalize;
}

li {
  padding: 10px 0px;
}

@media only screen and (min-width: 700px) {
  .filter {
    min-width: 230px;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--dark-blue), var(--dark-blue) 49px, var(--light-blue) 49px, var(--light-blue));
    color: white;
  }

  .filter h2 {
    background: none;
    padding: 0;
    margin: 10px 0 0 0;
  }

  ul.filter-menu li,
  ul.filter-menu ul {
    display: block;
  }

  .products-page-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .products-lists-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    margin-bottom: 50px;
  }

  div.filter h2 {
    margin-bottom: 20px;
  }

  ul.filter-menu li.close-filter  {
    display: none;
  }
}

@media only screen and (min-width: 945px) {
  .products-page-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .products-lists-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

}
