/* colors */
:root {
  --dark-blue: #001e44;
  --light-blue: #1d5ecc;
  --cta-orange: #db7c00;
  --cta-green: #1bc2a3;
  --grey: #f0f0f0;
}

/*
Font Sizes:
10px = 0.625rem
12px = 0.75rem      captions sorting
14px = 0.875rem 
16px = 1rem         (base) regular (400) - body, medium (500) - subhead 2
18px = 1.125rem     medium (500)- buttons + subhead 1
20px = 1.25rem      medium (500)- page header
24px = 1.5rem       medium (500)- home pic caption text
30px = 1.875rem
32px = 2rem         regular (400) - picture headers

*/

body {
  margin: auto;
  padding-top: 0px;
  font-family: roboto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*General styles*/

header {
  background: var(--dark-blue);
  z-index: 1; /*prevent banner link area covering parts of header*/
}

header,
footer {
  color: #fff;
}

h1 {
  font-size: 1.8rem;
  margin-top: 10px;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
}

footer p {
  font-size: 1.2rem;
  font-weight: 500;
}

a {
  cursor: pointer;
  color: #001e44;
}

header a,
footer a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

div.page-bread-crumbs {
  margin: 10px;
}

/*standard wrappers for content (careful where adding to nav bar and footer)*/
.head-wrapper,
.page-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0px auto;
}

/*Hidden for small screens and hamburgers*/
.desktop-nav-account,
#menu-drop-down,
#search-drop-down,
.large-images,
.medium-images,
.desktop-nav,
.desktop-logo,
.main-nav-contact {
  display: none;
}

/*general input, form and button styles*/

footer input,
nav input {
  /*because safari is annoying!*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1; /*stops faded appearance*/
  display: inline;
  padding: 10px;
  margin: 0;
  border: none;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 5px;
}

.input-container {
  display: block;
  position: relative;
  width: 90%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  border: none;
  padding: 0;
  border-radius: 5px;
  height: 41px;
  margin: 0;
}

.email-input,
.search-bar {
  height: 100%;
  width: 100%;
  background-color: transparent;
  padding: 0px 0px 0px 5px;
}

/*adjust search bar for drop down to avoid hitting edges of screen */
ul search {
  margin: 0 20px;
}

.search-drop {
  margin: 0 20px;
}

/*input buttons*/
.submit-button,
.search-button {
  position: absolute;
  color: #fff;
  background: var(--cta-orange);
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
  font-weight: 500;
  text-shadow: 2px 2px 2px var(--dark-blue);
  position: absolute;
  top: 0;
  right: 0;
}

.search-button,
.submit-button {
  height: 100%; /*needed to fix firefox 1px difference!*/
  padding: 0 20px;
  width: auto;
}

span {
  content: "\A";
  white-space: pre;
}
/* general hover interactions*/

.submit-button:hover,
.search-button:hover {
  color: var(--cta-orange);
  background-color: #fff;
  outline: 2px solid var(--cta-orange);
  text-shadow: none;
}

section.featured-products a img:hover,
section.promo-images a img:hover {
  outline: 5px solid var(--dark-blue);
  outline-offset: -5px;
}

.welcome-banner a:hover {
  text-decoration: none;
  text-shadow: 4px 4px 2px var(--light-blue);
}

a:hover {
  text-decoration: underline;
}

/*-------  Navigation --------*/
/* need to add a drop shadow to the menu element maybe on smaller pages when it hits footer*/

nav ul {
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: block;
  float: left;
  padding: 1rem;
  text-decoration: none;
}

nav ul li ul {
  background: var(--light-blue);
  display: none;
  position: absolute;
  margin-top: 0px;
  left: 0px;
}

nav ul li.main-nav-cart ul {
  display: inline-flex;
  position: relative;
  background: none;
}

nav ul li ul li {
  background: var(--light-blue);
  position: relative;
  z-index: 1;
  /* put menu drop on top of page content highest number on top when multiples items use it, need pos fix/rel/absolute*/
}

nav ul li.main-nav-cart ul li {
  background: none;
}

/*show the check box menus*/
#search-drop-down:checked ~ ul,
#menu-drop-down:checked ~ ul {
  display: block;
}

.hamburger li,
.search li {
  width: 100vw;
}

.logo_mobile {
  padding-top: 10px;
  min-width: 80px;
  max-width: 180px;
  width: 100%;
}

.navigation-icons {
  min-width: 25px;
  max-width: 50px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 15px; /*to push drop downs down*/
}

/*-------  Footer styling  --------*/

footer img {
  padding: 5px;
}

.payment-icons img {
  max-width: 80px;
}

.foot-top {
  background: var(--light-blue);
  padding: 20px 0px;
}

.foot-bot {
  background: var(--dark-blue);
  padding: 20px 0px;
}

footer input {
  border: none;
  width: 80%;
}

div.sign-up-container {
  margin-top: 9px;
}

footer div.input-container {
  margin-top: 20px;
}

footer label {
  font-size: 1.2rem;
  font-weight: 500;
}

footer form {
  padding: 10px 0;
}

.footer-icon-flexbox {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

.footer-copyright {
  text-align: center;
  padding: 30px 0px;
}

.footer-copyright p {
  font-size: 0.9rem;
}

/*------- Home Page Content ------*/

/*quick links section on mobile*/

.quick-links {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px;
}

div.quick-links img {
  border-radius: 50%;
  width: 100%;
}

div.quick-links h3 {
  text-align: center;
}

/*---banner and promo image styling --*/

.welcome-banner {
  background-image: url("../images/promo_and_home_photos/home_banner_small_dark.jpg");
  background-size: cover;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  position: relative;
}

section.welcome-banner p {
  font-size: 1.5rem;
  font-weight: 500;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-banner a {
  font-size: 2rem;
  margin-bottom: 0;
  text-align: center;
  padding: 20px;
}

.welcome-banner a,
div.image-content p,
div.image-content h2 {
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 2px var(--dark-blue);
}

.promo-images-container {
  position: relative;
}

.image-content {
  position: absolute;
  top: 10%;
  left: 10%;
}

div.image-content h2 {
  font-size: 2rem;
  margin: 10px 0px 0px 0px;
}

div.image-content p {
  margin: 0 30px 0 0;
  font-size: 1.5rem;
  font-weight: 600;
}

section.promo-images img {
  width: 100%;
  margin: 10px 0px;
}

/* bestsellers/product list page */

.product-list-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  row-gap: 25px;
  margin-bottom: 50px;
}

.product-item {
  background-color: var(--grey);
  display: grid;
  border: 2px solid var(--dark-blue);
  grid-template-rows: auto 2/5 3/5 auto;
  height: 100%;
}

.product-item img {
  width: 100%;
}

.product-item p,
.product-item h3 {
  margin: 5px 5px;
  text-transform: capitalize;
}

.product-item p {
  padding: 5px 0px;
}

/*tablet styles*/

@media only screen and (min-width: 700px) {
  /*2 column grid for promo images and footer */
  .promo-images-grid,
  .foot-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .promo-images-grid {
    grid-gap: 20px;
  }

  section.foot-bot p {
    display: inline-block;
    margin-right: 20px;
  }

  /* added column to grid for product section*/
  .product-list-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }

  /*swap out a promo image for a wider version*/
  .small-wide-images {
    display: none;
  }

  .medium-images {
    display: inline-block;
  }
}

@media only screen and (min-width: 945px) {
  /*Hiding small images, quick links section, and un-need mobile elements */
  .small-images,
  .mobile-nav,
  .hide-quick-links,
  .medium-images,
  .mobile-screen {
    display: none;
  }
  /* add flex cleared item to normal flow*/
  .flex-clear {
    position: relative;
  }
  /*larger images added for desktop viewing*/
  .large-images {
    display: inline-block;
  }

  .welcome-banner {
    background-image: url("../images/promo_and_home_photos/home_banner_large_dark.jpg");
  }

  /* 4 column product grid*/
  .product-list-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  /*The Nav bar re-construction to grid, needs more work to shrink it a bit*/
  header {
    background: linear-gradient(var(--dark-blue), var(--dark-blue) 114px, var(--light-blue) 114px, var(--light-blue));
  }

  .main-nav-container {
    display: grid;
    grid-template-areas:
      "logo search cart account"
      "logo nav nav nav";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
  }

  .main-nav-logo {
    grid-area: logo;
  }
  .main-nav-search {
    grid-area: search;
  }
  .main-nav-cart {
    grid-area: cart;
  }
  .main-nav-account {
    grid-area: account;
  }
  .main-nav-menu {
    grid-area: nav;
  }

  .hamburger li,
  .search li {
    display: inline;
    margin: 0;
    width: 80%;
  }

  #search-drop-down ~ ul,
  #menu-drop-down ~ ul {
    display: block;
    width: 100%;
  }

  .search-drop {
    margin: 0;
  }

  .head-wrapper {
    width: 100%;
  }

  .desktop-logo {
    display: block;
    max-width: 200px;
    padding-top: 2px;
  }

  .navigation-icons {
    max-width: 30px;
    padding-top: 0px;
    padding-left: 15px;
    margin-bottom: 0px; /*to push drop downs, not need at desktop*/
  }

  .desktop-nav-account,
  .desktop-nav {
    display: inline;
  }

  nav ul li ul,
  nav ul li ul li {
    background: none;
  }

  /*fix floats and absolutes from drop downs*/
  nav li {
    float: none;
    position: relative;
  }

  nav ul li.main-nav-search ul,
  nav ul li.main-nav-menu ul,
  .main-nav-contact {
    display: inline-flex;
    position: relative;
    background: none;
  }

  /*two different hovers because one section has 4px more 
  height than another and I couldn't find a way to increase the size nicely*/
  #current,
  .main-nav-menu li:hover {
    background: var(--dark-blue);
  }
}
