.payment-details-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.payment-security-code {
  display: block;
}

.payment-details-form label {
  margin: 10px 0 5px 0;
}

.payment-details-form input {
  font-size: 1rem;
  border-radius: 5px;
  padding: 5px;
}

.remove-margin-bottom {
  margin-bottom: 0;
}

.payment-type-select {
  display: flex;
  justify-content: space-between;
}

#expiration-date-month,
#expiration-date-year {
  max-width: 20px;
  margin-right: 0px;
  margin-bottom: 30px;
}

#security-code {
  max-width: 25px;
}

.security-expiration-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-top: 20px;
}
div.security-expiration-grid div + label {
  margin-bottom: 50px;
}
