.payment-details-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.payment-security-code {
  display: block;
  margin-bottom: 20px;
}

.payment-details-form label {
  margin: 10px 0 5px 0;
}

.payment-details-form input {
  font-size: 1rem;
  border-radius: 5px;
  padding: 5px;
}

.remove-margin-bottom {
  margin-bottom: 0;
}

.payment-type-select {
  display: flex;
  justify-content: space-between;
}

#expiration-date-month,
#expiration-date-year {
  max-width: 1.1rem;
  margin-right: 0px;
  margin-bottom: 0px;
}

#security-code {
  max-width: 2rem;
}

.security-expiration-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-top: 20px;
}

div.security-expiration-grid div + label {
  margin-bottom: 50px;
}

#first-name,
#last-name {
  max-width: 13rem;
}

#town-city {
  max-width: 8rem;
}

#post-code {
  max-width: 6rem;
}

#country {
  max-width: 9rem;
}

#email,
#name-card {
  max-width: 20rem;
}

#card-number {
  max-width: 10rem;
}

.remember-details {
  position: relative;
}

.remember-details label {
  position: absolute;
  top: 3px;
  left: 30px;
}

.disabled {
  opacity: 0.2;
}
