h1 {
  text-align: left;
}

.product-list-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  row-gap: 25px;
  margin-bottom: 50px;
}

/* price details */
.sale-price {
  color: var(--cta-orange);
}

.previous-price {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.save-price {
  background: var(--cta-orange);
  color: white;
}

.details-title {
  font-weight: 700;
}

.product-thumbnails {
  display: flex;
  gap: 5px;
}

.product-thumbnails > label {
  max-width: 100px;
}

.product-image-container label {
  border: 2px solid grey;
  cursor: pointer;
}

.product-image-container label:hover {
  border: 2px solid black;
  outline: 500px solid rgba(0, 30, 68, 0.3);
  outline-offset: -500px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] ~ img {
  display: none;
}

input[type="radio"]:checked ~ img {
  display: block;
}

input[type="radio"]:checked + label {
  border: 2px solid black;
}

/*input styling*/

/*size selector*/
.size-selection input {
  display: none;
}

.size-selection label {
  border: 1px solid black;
  display: inline-block;
  width: 41px;
  text-align: center;
  padding: 11px 0px;
}

.size-selection input:checked + label {
  border: 3px solid black;
  width: 37px;
  padding: 9px 0px;
  font-weight: 700;
}

table {
  width: 100%;
}
td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media only screen and (min-width: 700px) {
  .product-list-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }

  .product-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

@media only screen and (min-width: 945px) {
  /* 4 column product grid*/
  .product-list-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
