.products-page-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
  row-gap: 20px;
  margin-bottom: 50px;
}

.filter {
  border-radius: 5px;
  color: white;
}
.sort-products {
  grid-column: -1/1;
  margin-top: 10px;
}

div.filter {
  box-shadow: 5px 7px 5px var(--dark-blue);
  background-color: var(--light-blue);
  height: fit-content;
}

.filter-label {
  background: var(--cta-green);
  padding: 5px 0;
  margin-bottom: 20px;
  border-radius: 5px;
  margin: 10px auto;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  display: block;
}

.close-filter,
ul.filter-menu li {
  display: none;
}

ul.filter-menu li {
  background: var(--light-blue);
}
.filter h3 {
  margin: 5px 0;
  font-size: 1.5rem;
}

.filter label {
  text-align: center;
}

#filter-drop-down {
  display: none;
}

.filter-menu {
  position: relative;
  margin: 0 0 10px 0;
}

div.filter ul {
  margin: 0;
}

.filter-menu ul li {
  padding: 5px;
  font-size: 1.2rem;
}

#filter-drop-down:checked ~ .close-filter,
#filter-drop-down:checked ~ ul.filter-menu li,
#filter-drop-down:checked ~ ul.filter-menu ul {
  display: block;
}

li input {
  float: right;
}

ul {
  list-style-type: none;
  margin: 0 10px;
  padding-left: 0;
}

div.filter {
  text-transform: capitalize;
}

li {
  padding: 10px 0px;
}

/*Bottom list navigation product page*/

.centre-page-list {
  width: 100%;
  text-align: center;
  margin: 50px auto;
}

.change-list-page-pre,
.change-list-page-next,
.change-list-page {
  display: inline-block;
  border: 2px solid var(--grey);
  width: 40px;
  padding: 11px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  position: relative;
}

.current-list-page {
  background: var(--grey);
  border: 1px solid black;
}

.change-list-page:hover,
.change-list-page-pre:hover,
.change-list-page-next:hover {
  background: var(--grey);
  text-decoration: none;
}

.change-list-page-next {
  width: 60px;
}

.change-list-page-pre {
  width: 70px;
}

.change-page-span {
  margin-right: 20px;
}

.change-page-span::after {
  content: " ...";
  position: absolute;
  right: -20px;
}

/* js toggles filter settings visibility on click*/

.collapsed-filter {
  overflow: hidden;
  height: 40px;
}

.filter-items {
  position: relative;
}

.filter-items::after {
  position: absolute;
  top: 15px;
  right: 10px;
  content: "";
  rotate: 90deg;
  border-top: 10px solid transparent;
  border-left: 10px solid white;
  border-bottom: 10px solid transparent;
}

.collapsed-filter .filter-items::after {
  rotate: 0deg;
}

@media only screen and (min-width: 500px) {
  .products-page-grid {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 700px) {
  .filter {
    min-width: 230px;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--dark-blue), var(--dark-blue) 49px, var(--light-blue) 49px, var(--light-blue));
    color: white;
  }

  .filter-label {
    background: none;
    padding: 0;
    margin: 10px 0 0 0;
  }

  #filter-drop-down:checked ~ .close-filter {
    display: none;
  }

  ul.filter-menu li,
  ul.filter-menu ul {
    display: block;
  }

  .products-lists-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    margin-bottom: 50px;
  }

  div.filter h2 {
    margin-bottom: 20px;
  }

  ul.filter-menu li.close-filter {
    display: none;
  }
}

@media only screen and (min-width: 850px) {
  .products-page-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .products-lists-layout {
    display: grid;
    grid-template-columns: 250px 3fr;
  }
}

@media only screen and (min-width: 1000px) {
  .products-page-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
