h1 {
  text-align: left;
}

/* price details */
.sale-price {
  color: var(--cta-orange);
}

.previous-price {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.save-price {
  background: var(--cta-orange);
  color: white;
}

.details-title {
  font-weight: 700;
}

.product-thumbnails {
  display: flex;
  gap: 5px;
}

.product-thumbnails > label {
  max-width: 100px;
}

.product-image-container label {
  border: 2px solid grey;
  cursor: pointer;
}

.product-image-container label:hover {
  border: 2px solid black;
}

.images-container div img {
  margin: 0 auto;
  max-width: 380px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] ~ img {
  display: none;
}

input[type="radio"]:checked ~ img {
  display: block;
}

input[type="radio"]:checked + label {
  border: 2px solid black;
}

.size-label,
form.product-form label {
  font-weight: 600;
  font-size: 1.125rem;
}

.size-label {
  margin: 20px 0 0 0;
}
/*input styling*/

/*size selector*/
.size-selection input {
  display: none;
}

.size-selection label {
  border: 1px solid black;
  display: inline-block;
  width: 41px;
  text-align: center;
  padding: 11px 0px;
}

.size-selection input:checked + label {
  border: 3px solid black;
  width: 37px;
  padding: 9px 0px;
  font-weight: 700;
}

table {
  width: 100%;
}
td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.select-size-error {
  color: red;
  margin: 0 0 15px 0;
}

#quantity {
  width: 2rem;
  text-align: center;
  font-size: 1.125rem;
}

@media only screen and (min-width: 700px) {
  .product-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .lightbox-background {
    padding-top: 100px;
  }
}
